<div class="ibox" [@fadeInRight]="fadeInRight">
  <div class="ibox-title">
    <h5>វិញ្ញាសាទី ១</h5>
  </div>
  <div class="ibox-content" id="video-wrapper">
      <iframe id='video-player' [src]="videoUrl" 
      frameborder="0" 
      allowfullscreen="allowfullscreen"
      mozallowfullscreen="mozallowfullscreen" 
      msallowfullscreen="msallowfullscreen" 
      oallowfullscreen="oallowfullscreen" 
      webkitallowfullscreen="webkitallowfullscreen">
    </iframe>
  </div>
</div>
