<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h2>វិញ្ញាសា សញ្ញាបត្រទុតិយភូមិ</h2>
        </div>
        <div class="ibox-content text-center p-md">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h2>វិញ្ញាសា ពេទ្យ</h2>
        </div>
        <div class="ibox-content text-center p-md">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="contact-box">
                <a class="row" href="profile.html">
                  <div class="col-12">
                    <div class="text-center">
                      <img alt="image" class="m-t-xs m-b-md img-fluid" src="https://e-schoolcambodia.com/assets/upload/1/tch_photo/1_5b0c964dcf368.jpg">
                      <h3>ជីវវិទ្យា</h3>
                      <p>
                        <i class="fa fa-user-o"></i> សាស្រ្តាចារ្យ ជ័យ ថាវី </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>