<div class="row">
  <div class="col-sm-12">
    <div class="ibox ">
      <div class="ibox-content">
        <h2>{{ current?.description }}</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#/">ទំព័រដើម</a>
          </li>
          <li class="breadcrumb-item">
            {{ parent?.description }}
          </li>
          <li class="breadcrumb-item active">
            <strong>{{ current?.description }}</strong>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
