/* Only demo */

@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Moul"
}

body {
  font-family: "Battambang"
}

.label {
  font-family: "Battambang"
}

.badge {
  font-family: "Battambang"
}

.nav .nav-sub-header  {
  color: #a7b1c2;
  /* font-weight: 600; */
  padding: 14px 20px 5px 25px;
  display: block;
  font-size: 18px;
}

.nav .nav-main {
  font-size: 18px;
}

.nav .nav-divider {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #a7b1c2;
}
